*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Raleway', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Playfair Display';
    font-size: 59px;
    font-weight: 900;
    line-height: 71px;
    letter-spacing: 0px;

}

.flex {
    display: flex;
    align-items: center;
  }
  
  .flex-btwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-start {
    display: flex;
    align-items: flex-start;
  }
  
  .col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .grow{
    flex: 1;
  }

  .container{
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .relat{
    position: relative;
  }

  .abslt{
    position: absolute;
  }

  header{
    min-height: 102px;
    background-color: white;
    padding: 0 100px 0 73px;
  }

  .logo a{
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    color: black;
  }

  .logo img{
    margin: 8px -21.23px 0 0;
  }


  nav{
    max-width: 672px;
    gap: 31px;
  }

  nav ul{
    max-width: 473px;
  }

  .nav-link{
    display: inline-block;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.27px;
    color: black;
  }


  .active::after{
    content: "";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #4BA87D;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
  }

  .inl-blck{
    display: inline-block;
  }

  .grn-btn{
    background-color: #4BA87D;
    color: white;
  }
  .wht-btn{
    color: #4BA87D;
    background-color: white;
    border: 3px solid #4BA87D;
  }

  .sign-up{
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.27px;
    padding: 10px 20px;
  }

  .rect-30{
    width: 30px;
    height: 30px;
  }

  .rect-45deg{
    transform: rotate(45deg);
  }

  .bg-wht{
    background: #FFFFFF;
  }

  .bg-f4{
    background: #F4F4F4;
  }

  .rect-1{
    width: 57.90px;
    height: 57.90px;
    background-color: black;
    top: 192.64px;
    right: 151.89px;
  }

  .rect-2{
    top: 133px;
    left: 327px;
    background: #EFE1BC;
  }

  .rect-3{
    top: 143px;
    right: 359px;
    background: #F4F4F4;
  }

  .rect-4{
    width: 16px;
    height: 16px;
    top: 197px;
    left: 75px;
    background: #F4F4F4;
  }

  .rect-5{
    width: 40px;
    height: 40px;
    top: 610.88px;
    left: 172px;
    background: #F4BEBD;
  }

  .rect-6{
    width: 60.81px;
    height: 60.81px;
    top: 1526px;
    right: 100px;
    opacity: 0.31;
  }

  .rect-7{
    width: 31px;
    height: 31px;
    top: 1904px;
    right: 46px;
    opacity: 0.42;
  }

  .rect-8{
    width: 32px;
    height: 32px;
    top: 1366px;
    right: 61px;
    opacity: 0.64;
  }

  .rect-9{
    width: 17px;
    height: 17px;
    top: 1535px;
    left: 41px;
    opacity: 0.34;
  }

  .rect-10{
    width: 42px;
    height: 42px;
    top: 1984px;
    left: 293px;
    opacity: 0.3;
  }

  .rect-11{
    width: 40px;
    height: 40px;
    top: 1764px;
    left: 88.56px;
    background: #000000;
    opacity: 0.06;
  }


  
  
  .ellipse{
    border-radius: 50%;
  }

  .ellipse-border{
    border: 1px solid #707070;
  }

  .ellipse-11{
    width: 11px;
    height: 11px;
    background: #FFFFFF;
  }

  .ellipse-1{
    width: 37px;
    height: 37px;
    top: 179px;
    right: 605px;
    background: #D9F4F2;
  }

  .ellipse-2{
    width: 15px;
    height: 15px;
    top: 624px;
    right: 737px;
    background: #FFFFFF;
  }

  .ellipse-3{
    top: 96px;
    left: 32px;
    z-index: -1;
  }

  .ellipse-4{
    top: 456px;
    left: 126px;
  }

  .ellipse-5{
    top: 143px;
    right: 100px;
  }

  .ellipse-6{
    width: 38px;
    height: 39px;
    top: 1742px;
    right: -9px;
    background: #AFCBAD;
  }

  .ellipse-7{
    top: 2126px;
    left: 78px;
    background: none;
  }

  .ellipse-8{
    top: 1865px;
    left: 224px;
    background: none;
  }

  .ellipse-9{
    width: 12px;
    height: 12px;
    top: 1893px;
    right: 132px;
  }

  .hero{
    padding: 103px 0 149px 0;
    max-width: 1088px;
    margin: 0 auto;
  }

  .left-side {
    max-width: 489px;
    margin-right: -81px;
  }

  .left-side p{
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    padding: 23px 2px 35px 0;
  }

  .try-btn, .demo-btn, .learn-btn{
    font-size: 21px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.04px;
    padding: 20px 48px;
  }

  .demo-btn{
    padding: 18px 27px 18px 29px;
    margin-left: 45px;
  }

  .right-side img{
    box-shadow: 0px 3px 16px 0px #00000029;
  }

  .video::before{
    content: "";
    position: absolute;
    height: 100%;
    background: #F7F7F7;
    width: 100%;
    top: 0;
    z-index: -2;
  }

  .video{
    width: 100%;
    justify-content: center;
    padding: 130px 0 83px 0;
  }

  .video::after{
    content: "";
    position: absolute;
    height: 1059.87px;
    background: #CAEAC7;
    width: 100%;
    top: 464px;
    transform: skewY(-9.4deg);
    transform-origin: top right;
    z-index: -1;
  }


  .black-slash{
    top:-176px;
    left: 0;
    mix-blend-mode: normal;
  }

  .video-text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .video-text h2{
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .learn-btn{
    border: none;
    padding: 20px 32px;
    margin-top: 61px;
  }

  .white-slash{
    top: 1584px;
    right: 0;
  }

  


  @media (max-width:768px){

    .tab-hid{
      display: none;
    }

    header{
        min-height: 66px;
        padding: 0 16px 0 0;
      }

      .logo a{
        font-size: 22px;
        line-height: 26px;
      }
    
      .logo img{
        width: 84px;
        margin: 8px -12.75px 0 0;
      }

    .nav-link{
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.82px;
      }

      .active::after, .nav-link::after{
        content: "";
        position: absolute;
        width: 71px;
        height: 3px;
        background: #4BA87D;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      nav{
        max-width: 438px;
        gap: 20px;
      }

      .sign-up{
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.82px;
        padding: 6px 13.5px;
      }

      .rect-30{
        width: 20px;
        height: 20px;
      }

      .rect-1{
        width: 37.8px;
        height: 37.8px;
        top: 121.63px;
        right: 13.51px;
      }

      .rect-2{
        top: 86px;
        left: 128px;
      }

      .rect-3{
        top: 93px;
        right: 148px;
      }

      .rect-4{
        display: none;
      }

      .rect-5{
        width: 26px;
        height: 26px;
        top: 398px;
        left: 26.52px;
      }

      .ellipse-1{
        width: 24px;
        height: 24px;
        top: 116px;
        right: 308px;
      }

      .ellipse-2{
        width: 10px;
        height: 10px;
        top: 407px;
        right: 395px;
      }
      
      .ellipse-3{
        display: none;
      }

      .ellipse-4{
        top: 295px;
        left: 8px;
      }

      .ellipse-5{
        display: none;
      }

      .ellipse-11{
        width: 7px;
        height: 7px;
      }

      .hero{
        padding: 67px 0 97px 0;
        max-width: 711px;
      }
    
      .left-side {
        max-width: 315px;
        margin-right: -49px;
      }

      h1{
        font-size: 38px;
        line-height: 46px;
      }
    
      .left-side p{
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        padding: 23px 7px 35px 0;
      }
    
      .try-btn, .demo-btn, .learn-btn{
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
        letter-spacing: 0.65px;
        padding: 13px 34px;
      }
    
      .demo-btn{
        padding: 11px 21px;
        margin-left: 29px;
      }
    
      .right-side img{
        width: 445px;
        box-shadow: 0px 3px 16px 0px #00000029;
      }

      .video{
        padding: 85px 0 55px 0;
      }
      .video::after{
        height: 692.19px;
        top: 303px;
        transform: skewY(-10.6deg);
      }

      .black-slash{
        width: 488.32px;
        height: 488.32px;
        top: -68.32px;
        left: 0;
        mix-blend-mode: normal;
      }
    
      .video-text h2{
        font-size: 38px;
        line-height: 51px;
      }
    
      .learn-btn{
        padding: 13px 24px;
        margin-top: 41px;
      }
      
      .video-img img{
        width: 616px;
        height: 347px;
      }

      .white-slash{
        top: 1034px;
        right: -321px;
        width: 757px;
        height: 757px;
      }

  }

  @media (max-width:320px){

    .mo-hid{
      display: none;
    }
    header{
        min-height: auto;
        gap: 29px;
        padding: 4px 13px 0 0;
      }
      
      .logo img {
        width: 84px;
        margin: 5px -12.75px 0 -6px;
    }

    .nav-links{
        display: none;
    }


    .hero{
        display: block;
        padding: 59px 0 123px;
        margin-top: 12px;
    }

    h1{
        font-size: 36px;
        max-width: 284px;
      }

    .left-side{
        position: absolute;
        bottom: 19px;
        max-width: 301px;
        left: 9px;
        margin: 0;
    }

    .left-side p {
        padding: 98px 0 16px 0;
        font-size: 14px;
    }

    .right-side{
        text-align: center;
    }

    .hero img{
        width: 300px;
    }

    .try-btn, .demo-btn{
        font-size: 13px;
        font-weight: 900;
        line-height: 15px;
        letter-spacing: 0.65px;
        padding: 13px 39px;
      }
    
      .demo-btn{
        padding: 11px 27px;
        margin-left: 10px;
      }

      .video{
        padding: 23px 0 276px 0;
      }

      .black-slash{
        width: 349.45px;
        height: 349.45px;
        top: -62.59px;
        left: -15px;
        mix-blend-mode: normal;
      }
    
      .video-text h2{
        font-size: 22px;
        line-height: 29px;
      }
    
      .learn-btn{
        padding: 7px 13px;
        margin-top: 20.56px;
      }
      
      .video-img img{
        width: 304px;
        height: 171px;
      }

    

  }
