*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:'Raleway', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

h1{
  font-size: 59px;
  line-height: 71px;
}

h1, h2{
font-family: 'Playfair Display';
}

h1{
  max-width: 489px;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-btwn-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-btwn-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.grow{
  flex-grow: 1;
}

.container{
  max-width: 1272px;
  padding: 0 16px;
  margin: 0 auto;
}

.relat{
  position: relative;
}

.abslt{
  position: absolute;
}

.hidden{
  display: none;
}

.fw-900{
  font-weight: 900;
}

.w-100{
  width: 100%;
}

.inl-blck{
  display: inline-block;
}

.bg-wht{
  background: #FFFFFF;
}

.bg-f4{
  background: #F4F4F4;
}

.logo{
      padding: 19px 0;
  }

.logo a{
  font-size: 35px;
  line-height: 41px;
  color: black;
  width: fit-content;
}

.logo img {
      margin-right: -22px;
 }

.nav-links{
    gap: 22px;
    margin-right: 31px;
}

.nav-link{
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1.27px;
  color: black;
  overflow: hidden;
  padding: 18px 8px;
}


.nav-link::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #4BA87D;
  top: calc(100% - 5px);
  left: -100%;
  transition: 0.3s;
}

.nav-link:hover::after, .active::after{
  left: 0;
}



.grn-btn, .wht-btn:hover{
  background-color: #4BA87D;
  color: white;
  border: 3px solid #4BA87D;
}


.wht-btn, .grn-btn:hover{
  color: #4BA87D;
  background-color: white;
  border: 3px solid #4BA87D;
}

.sign-up{
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1.27px;
  padding: 10px 20px;
}

.hero-content{
  background-image: url(images/hero-img.png);
  background-position: top right;
  background-repeat: no-repeat;
  margin: 103px 78px 149px;
  min-height: 383px;
}

.btn{
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 1.04px;
  padding: 17px 48px;
}

.demo-btn{
  padding: 16px 27px 18px 29px;
  margin-left: 45px;
}

.hero-p{
      font-size: 19px;
      font-weight: 500;
      line-height: 26px;
      max-width: 446px;
      margin: 23px 0 35px;
    }

    .video-holder{
      background-color: #F7F7F7;
      padding: 130px 0 83px;
      margin: 0 auto;
      max-width: 1440px;
    }

    .video-holder::before{
      content: url(images/slash-black.png);
      position: absolute;
      top: -176px;
    }

    .video{
      min-height: 531px;
      background-image: url(images/video-img.png);
      background-size: 944px;
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      z-index: 1;
    }

    .video-text{
      text-align: center;
    }
  
    .video-text h2{
      font-size: 60px;
      line-height: 80px;
      color: #FFFFFF;
    }
  
    .learn-btn{
      border: none;
      padding: 20px 32px;
      margin-top: 61px;
      border: 3px solid #FFFFFF;
    }

    .features{
      padding: 182px 0 0;
      max-width: 1440px;
      margin: -458px auto 0;
    }

    .features::before{
      background-color: #CAEAC7;
      content: "";
      position: absolute;
      width: 100%;
      height: 822px;
      transform: skewY(-9.2deg);
      transform-origin: top right;
    }

    .features::after{
      content: url(images/slash-white.png);
      position: absolute;
      right: 0;
      bottom: -760px;
    }

    .features-holder{
      max-width: 1098px;
      margin: 377px auto 0;
      position: relative;
    }
  
    .features-text{
      max-width: 365px;
    }
  
    .card{
      max-width: 320px;
    }
  
    .card-text{
      background-color: #FFFFFF;
      padding: 24px 37px 21px 30px;
      margin-top: -29.89px;
      position: relative;
    }
  
    .card img{
      box-shadow: 0px 8px 16px 0px #00000029;
    }
  
    .card p{
      line-height: 26px;
      padding-bottom: 13px;
      
    }
  
    .card a{
      font-weight: 800;
      line-height: 19px;
      color: #4BA87D;
    }
  
    .card-1 {
      transform: translateY(-81px);
    }
  
    
  
    .features-text h2{
      font-size: 44px;
      line-height: 48px;
    }
  
    .features-text P{
    font-size: 19px;
    line-height: 26px;
    padding: 24px 44px 0 0;
    }

    .members{
      max-width: 1089px;
      margin: 156px auto 0;
    }
  
    .box{
      width: 341px;
      height: 239px;
      box-shadow: 0px 8px 16px 0px #00000029;
  
    }
  
    .box::after{
      content:"";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, #000000 -32.5%, rgba(84, 84, 84, 0.0001) 67.78%);
    }
  
    .box-text{
      left: 25px;
      bottom: 20px;
      z-index: 1;
    }
  
    .box-text h3{
      font-size: 34px;
      line-height: 40px;
      color: #FFFFFF;
    }
  
    .box-text p{
      font-size: 19px;
      font-weight: 700;
      line-height: 22px;
      color: #FFFFFF;
      padding-top: 5px;
    }

    .join-list{
      max-width: 904px;
      margin: 40px auto 0;
      text-align: center;
    }
  
    .join-list h2{
    font-size: 44px;
    line-height: 48px;
    }
  
    .join-list form{
      max-width: 668px;
      margin: 44px auto 0;
    }
    
    .email-holder input, .submit{
      font-family:Raleway;
      font-size: 21px;
      line-height: 25px;
      letter-spacing: 1.04px;
    }
  
    .email-holder input{
      padding: 19px 158px 21px 25px;;
      border: 1px solid #9F9F9F;
      border-radius: 5px;
    }
  
    ::placeholder{
      color: #000000;
    }
  
    .email-holder p{
      font-size: 21px;
      line-height: 25px;
      letter-spacing: 1.04px;
      text-align: left;
      color: #4BA87D;
      padding: 20px 0 0 32px;
    }
  
    .submit{
      padding: 19px 30px 21px 30px;
      border: none;
      cursor: pointer;
    }

    .partners{
      padding: 75px 0 146px 0;
    }
  
    .partners h2{
      font-size: 44px;
      line-height: 48px;
      text-align: center;
      margin-bottom: 70px;
    }
  
    .logos{
      max-width: 926px;
      margin: 0 auto;
    }

    .get-started{
      background-color: #4BA87D;
      padding: 82px 0 95px;
      text-align: center;
    }
  
    .get-started h2{
      font-size: 60px;
      line-height: 80px;
      color: #FFFFFF;
      margin-bottom: 47px;
    }
  
    .pick-btn{
      font-size: 21px;
      line-height: 25px;
      letter-spacing: 1.04px;
      padding: 19px 30px 21px 33px;
      border: none;
    }

    footer.container{
      padding: 81px 150px 48px;
  }
  
    footer::after{
      content: "";
      position: absolute;
      width: 1088px;
      height: 2px;
      bottom: 105px;
      left: 50%;
      transform: translateX(-50%);
      background: #DBDBDB;
    }
  
    .part-1{
      margin-bottom: 109px;
    }
  
    .foot-logo img{
      width: 92px;
      height: 46px;
      margin: -6px -15.61px 0 0;
    }
  
    .foot-logo a{
      font-size: 26px;
      line-height: 31px;
      color: black;
      align-items: flex-start;
      margin-left: -23px;
      
    }

    .links-holder{
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: 60px;
    }

    .links-holder a{
      display: inline-block;
      font-size: 19px;
      font-weight: 700;
      line-height: 22px;
      color: #000000;
    }
  
    .links-holder li{
      margin-bottom: 10px;
    }

    .part-2 p, .terms a{
      font-size: 15px;
      font-weight: 700;
      line-height: 18px;
      color: #000000;
    }
  
    .terms{
      max-width: 273px;
    }
  
  
  
  

@media (max-width: 1000px){

  .tab-hid{
      display: none;
    }

    .tab-fs-12{
      font-size: 12px;
    }
    
    .logo {
      padding: 13px 0;
  }

  .logo a{
      font-size: 22px;
      line-height: 26px;
    }
  
    .logo img{
      width: 84px;
      margin-right: -12.75px;
    }

    .nav-links{
      gap: 14px;
      margin-right: 20px;
    }

  .nav-link{
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.82px;
      padding: 11px 6px;
    }

    .nav-link::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #4BA87D;
      top: calc(100% - 3px);
      left: -100%;
      transition: 0.3s;
    }

    .active::after {
      left: 0;
    }

    nav{
      gap: 20px;
    }

    .sign-up{
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.82px;
      padding: 6px 10.5px;
    }


    .hero-content{
      margin: 67px 16px 97px;
      background-size: 445px;
      min-height: 250px;
    }

    h1{
      font-size: 38px;
      line-height: 46px;
      max-width: 315px;
    }


    .btn{
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.65px;
      padding: 10px 30px;
    }
  
    .demo-btn{
      padding: 10px 21px;
      margin-left: 22px;
    }

    .hero-p{
      max-width: 282px;
      margin: 17px 0 25px;
      line-height: 16px;
    }

    .video-holder{
      padding: 85px 0 55px;
    }

    .video{
      min-height: 347px;
      background-size: 616px;
    }

    .video-text h2{
      font-size: 38px;
      line-height: 51px;
    }
  
    .learn-btn{
      padding: 13px 24px;
      margin-top: 41px;
    }

    .video-holder::before{
      content: url(images/tablet-black-slash.png);
      top: -64px;
    }

    .features{
      margin-top: -348px;
    }

    .features::before {
      background-color: #CAEAC7;
      content: "";
      position: absolute;
      width: 100%;
      height: 522px;
      transform: skewY(-9.2deg);
      transform-origin: top right;
  }

  .features::after {
      content: url(images/tablet-whithe-slash.png);
      bottom: -472px;
  }

    .features-holder{
      max-width: 710px;
      margin: 219px auto 87px;
    }
  
    .features-text{
      max-width: 232px;
    }
  
    .card{
      max-width: 209px;
    }
  
    .card-text{
      background-color: #FFFFFF;  
      padding: 17px 0 18px 20px;
      margin-top: -19.23px;
      position: relative;
    }
  
    .card img{
      width: 100%;
    }
  
    .card p{
      line-height: 16px;
      padding: 0 20px 7px 0;
      
    }
  
    .card a{
      font-weight: 800;
      line-height: 14px;
      color: #4BA87D;
    }
  
    .card-1 {
      transform: translateY(-50px);
    }

    .card-1 p {
      padding: 0 14px 12px 0;
    }
  
    .features-text h2{
      font-size: 28px;
      line-height: 31px;
    }
  
    .features-text P{
      font-size: 12px;
      line-height: 16px;
      padding: 17px 29px 0 0;
      }

    .members{
      max-width: 708px;
      margin: -7px auto;
      }

      .box{
      width: 223px;
      height: 157px;
      }


      .box img{
      width: 100%;
      }

      .box-text{
      left: 18px;
      bottom: 14px;
      z-index: 1;
      }

      .box-text h3{
      font-size: 22px;
      line-height: 26px;
      }

      .box-text p{
          font-size: 12px;
      line-height: 14px;
      padding-top: 5px;
      }

      .join-list{
      max-width: 591px;
      margin: 30px auto 0px;
      }

      .join-list h2{
      font-size: 28px;
      line-height: 36px;
      }

      .join-list form{
      max-width: 436px;
      margin-top: 22px;
      }
      
      .email-holder input, .submit{
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.65px;
      }

      .email-holder input{
      padding: 12px 106px 15px 16px;
      }

      .email-holder p{
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.65px;
      padding: 13px 0 0 16px;
      }

      .submit{
      padding: 13px 21.5px 14px;
      }

      .partners{
          padding: 50px 0 95px 0;
        }
      
        .partners h2{
          font-size: 28px;
          line-height: 36px;
          margin-bottom: 33px;
        }
      
        .logos{
          max-width: 605px;
        }
  
        .logo-1{
          width: 104px;
          height: 22px;
        }
        .logo-2{
          width: 55px;
          height: 29px;
        }
        .logo-3 img{
          width: 94px;
          height: 31px;
        }
        .logo-4{
          width: 92px;
          height: 17px;
        }
        .logo-5{
          width: 91px;
          height: 15px;
        }

        .get-started{
          padding: 45px 0 59px;
        }
      
        .get-started h2{
          font-size: 42px;
          line-height: 56px;
          margin-bottom: 36px;
        }
      
        .pick-btn{
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.65px;
          padding: 13px 23px 14px;
        }

        footer.container {
          padding: 47px 92px 48px;
      }
  
        footer::after{
          width: 711px;
          bottom: 66px;
        }
  
      
        .foot-logo img{
          width: 60px;
          height: 30px;
          margin: -4px -9.61px 0 0;
        }
      
        .foot-logo a{
          font-size: 16px;
          line-height: 19px;
          color: black;
          margin-left: -22px;
        }

        .links-holder{
          gap: 40px;
        }

        .links-holder a{
          font-size: 12px;
          line-height: 14px;
        }
  
        .links-holder li{
          margin-bottom: 7px;
        }
  
        .part-2 p, .terms a{
          font-size: 9px;
          line-height: 11px;
        }
      
        .terms{
          max-width: 174px;
        }

}

@media (max-width: 667px) {
  .mo-hid{
      display: none;
    }

    .container{
      padding: 0 10px;
    }

    header.container{
      padding: 0 13px 0 0;
    }

    .logo-a{
      margin-left: -8px;
    }

  .logo {
      padding: 10px 0;
  }

    

    .hero-content{
      margin: 67px 0 0 0;
      background-size: 300px;
      align-items: flex-start;
    }

    h1{
      font-size: 36px;
      max-width: 284px;
      margin: -51px 0 88px;
    }

    .hero-p {
      max-width: 290px;
      font-size: 14px;
      margin: 17px 0 16px;
  }

  .try-btn{
      padding: 9px 32px;
      margin: 0 10px 10px 2px;
    }
  
    .demo-btn{
      padding: 9px 23px;
      margin: 0;
    }


    .video-holder{
      padding: 23px 0 276px;
    }

    .video{
      min-height: 171px;
      background-size: 304px;
    }

    .video-text h2{
      font-size: 22px;
      line-height: 29px;
    }
  
    .learn-btn{
      padding: 7px 13px;
      margin-top: 20.56px;
      font-size: 6px;
      line-height: 7px;
      letter-spacing: 0.3px;
    }

    .video-holder::before{
      content: url(images/mobile-black-slash.png);
      top: -64px;
    }

    .features {
      margin-top: -245px;
  }

    
    .features-holder{
      max-width: 302px;
      margin: -167px auto 56px;
      flex-direction: column;
      position: relative;
    }
  
    .features-text{
      max-width: 232px;
    }
  
    .card{
      max-width: 209px;
      align-self: flex-end;
      margin-bottom: 18px;
    }
  
    .card-text{
      background-color: #FFFFFF;  
      padding: 17px 0 18px 20px;
      margin-top: -19.23px;
      position: relative;
    }
  
    .card img{
      width: 100%;
    }
  
    .card p{
      line-height: 16px;
      padding: 0 29px 1px 0;
      
    }
  
    .card a{
      font-weight: 800;
      line-height: 14px;
      color: #4BA87D;
    }
  
    .card-1 {
      transform: translateY(0px);
      align-self: flex-start;
      margin-bottom: 10.66px;
    }

    .card-1 p {
      padding: 0 21px 12px 0;
    }
  
    .features-text h2{
      font-size: 28px;
      line-height: 31px;
    }
  
    .features-text P{
    line-height: 16px;
    padding: 17px 29px 0 0;
    }

    .features::after {
      content: url(images/mobile-white-slash.png);
      bottom: -549px;
  }

  .features::before {
      height: 630px;
      transform: skewY(-23.2deg);
  }

  .members{
      height: 513px;
      flex-direction: column;
      margin: 73px auto;
    }

    .join-list{
      max-width: 239px;
      margin: 59px auto 0;
    }
  
    .join-list h2{
    font-size: 26px;
    line-height: 36px;
    }
  
    .join-list form{
     flex-direction: column;
     align-items: center;
     height: 111px;
    }
  
    .email-holder input{
      padding: 13px 50px 14px 14px;
    }
  
    .email-holder p{
      font-size: 12px;
      line-height: 14px;
      padding: 6px 0 7px;
      text-align: center;
    }
  
    .submit{
      padding: 13px 21px 14px 22px;
    }

    .partners {
      padding: 50px 0 58px 0;
    }

    .partners h2{
      font-size: 26px;
      margin-bottom: 36px;
    }
  
    .logos{
      max-width: 237px;
      height: 137px;
      flex-wrap: wrap;
      align-content: space-between;
    }

    .logo-1{
      width: 104px;
      height: 22px;
      order: 3;
    }
    .logo-2{
      width: 55px;
      height: 29px;
      order: 1;
      margin-left: 22px;
    }
    .logo-3{
      order: 5;
      width: 100%;
      text-align: center;
    }
    .logo-3 img{
      width: 94px;
      height: 31px;
    }


    .logo-4{
      width: 92px;
      height: 17px;
      order: 4;
    }
    .logo-5{
      width: 91px;
      height: 15px;
      order: 2;
    }

    .get-started{
      padding: 45px 0 59px;
    }
  
    .get-started h2{
      font-size: 42px;
      line-height: 48px;
      margin: 0 auto 46px;
      max-width: 259px;
    }
  
    .pick-btn{
      padding: 13px 23px 14px;
    }

    
    footer.container{
      padding: 47px 92px 51px 17px;
    }

    footer::after{
      width: 286px;
      bottom: 171px;
    }

    .part-1{
      flex-direction: column;
      gap: 11px;
      margin-bottom: 46px;
    }
  
    .foot-logo img{
      width: 60px;
      height: 30px;
      margin: -4px -9.61px 0 0;
    }

    .foot-logo a{
      margin-left: -14px;
    }

    .links-holder {
      column-gap: 72px;
      row-gap: 0;
      grid-template-columns: repeat(2, auto);
  }

  .col-1 {
      order: 1;
  }
  .col-2 {
      order: 3;
      margin-top: -31px;
  }
  .col-3 {
      order: 2;
  }
  .col-4 {
      order: 4;
      margin-top: -8px;
  }
    .part-2{
      flex-direction: column;
      align-items: flex-start;
      max-width: 186px;
      gap: 23px;
    }

    .part-2 p, .terms a{
      font-size: 9px;
      line-height: 19px;
    }
  
    .terms{
      flex-direction: column;
      align-items: flex-start;
    }

}

